@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*BODY*/

body {
    font-family: 'Inter', sans-serif;
    text-align: center;
    background-color: #050206;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
h1 {
    margin-top: 10%;
}
h2 {
    margin-top: 7%;
}
h3 {
    margin-top: 5%;
}

.profile-display {
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    height: auto;
    border: 3px solid #3B3B3B;
    border-radius: 3em;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
}
.personal-profile-desktop {
    width: 80%;
    height: 4em;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 2em;
}
.profile-display-phone {
    display: none;
}
.personal-profile {
    display: flex;
    color: white;
    text-decoration: none;
    transition-duration: .5s;
}
    .personal-profile:hover {
        background-color: #3B3B3B;
    }
.profile-image-container {
    width: 25%;
    display: flex;
}
.personal-profile-image {
    height: 2em;
    width: 2em;
    border-radius: 2em;
    margin: auto;
}
.profile-name-container {
    margin: auto;
}
.hr-container {
    width: 70%;
    margin: auto;
}
.buttons-container {
    width: 70%;
    margin: auto;
    margin-top: 1em;
}
.buttons {
    margin: auto;
    display: flex;
    border-radius: 1.5em;
    height: 2em;
    text-decoration: none;
}
.newsletter-button {
    width: 100%;
    background-color: #CCCDC7;
    border: 2x solid #CCCDC7;
    transition-duration: .25s;
    cursor:grab;
    text-decoration: none;
}
    .newsletter-button:hover {
        background-color: #050206;
        border: #3B3B3B 2px solid;
    }
.button-text {
    margin: auto;
    text-decoration: none;
}
.newsletter-button-text {
    margin: auto;
    text-decoration: none;
    color: #050206;
}
    .newsletter-button:hover .newsletter-button-text {
        color: #CCCDC7;
    }
.share-display {
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10%;
    margin-top: 1em ;
}
.social-share-container {
    margin: auto;
}
.social-share {
    height: 2em;
}
.double-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
}
.single-button {
    border: #3B3B3B 1px solid;
    width: 46%;
    color: #CCCDC7;
}

.article {
    width: 40%;
    margin-top: 7%;
    margin-left: 30%;
    margin-right: 30%;
}
.article-title-container {
    text-align: center;
}
.article-title {
    color: #CCCDC7;
    font-size: 50px;
}

hr {
    height: 1px;
    border-width: 0;
    color: gray;
    background-color: gray;
}
.article-data-container {
    text-align: center;
    display: flex;
}
.article-data {
    color: gray;
    width: 40%;
    flex-grow: 1;
}
.divider-container {
    display: flex;
}
.article-data-divider {
    color: gray;
    margin: auto;
}
.article-cover-container {
    padding-top: 6%;
}
.article-cover {
    width: 100%;
    border-radius: 2em;
}
.article-text {
    color: #CCCDC7;
    padding-top: 6%;
    padding-bottom: 5%;
    font-size: 18px;
    text-align: left;
    text-align: justify;
    line-height: 1.75em;
}
.title {
    padding-bottom: 0.5em;
    padding-top: 1em;
}
blockquote {
    padding-top: 5%;
}



/*QUERIES*/

@media screen and (max-width: 1440px) {
    .article {
        width: 60%;
        padding-top: 10%;
        margin: auto;
    }
  }
@media screen and (max-width: 1400px) {
    .article {
        width: 40%;
        padding-top: 10%;
        margin: auto;
    }
}
@media screen and (max-width: 992px) {
    body {
        flex-direction: column;
        width: 100%;
    }
    .article {
        width: 90%;
        padding-top: 15%;
        margin: auto;
    }
    .external-link {
        padding-top: 0;
    }

    .profile-display-desktop {
        display: none;
    }
    .profile-display-phone {
        display: contents;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10%;
        height: auto;
        border: 3px solid #3B3B3B;
        border-radius: 6em;
    }
    .personal-profile-phone {
        width: 90%;
        height: 10em;
        margin: auto;
        margin-top: 2em;
        margin-bottom: 2em;
        border-radius: 9em;
    }
    .profile-image-container {
        width: 6em;
        display: flex;
        margin: 2em;
    }
    .personal-profile-image-phone {
        height: 6em;
        width: 6em;
        border-radius: 4em;
    }
    .profile-name {
        font-size: 50px;
        margin: auto;
    }
    .hr-container {
        width: 80%;
        margin-top: 3em;
    }
    .buttons-container {
        width: 80%;
        margin-top: 2em;
    }
    .buttons {
        margin-top: 1.5em;
        text-align: center;
        border-radius: 9em;
        height: 10em;
    }
    .button-text {
        font-size: 50px;
    }
    .share-title {
        width: 100%;
        text-align: center;
    }
    .share-display {
        height: 10em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10%;
        margin-top: 2em ;
    }
    .social-share {
        height: 8em;
    }

    .article-title {
        font-size: 80px;
    }
    .article-data {
        font-size: 40px;
    }
    p {
        font-size: 50px;
        line-height: 1.5;
    }
    ul {
        font-size: 50px;
        line-height: 1.25;
    }
    h1 {
        font-size: 60px;
    }
  }

@media screen and (max-width: 600px) {
    .article-text {
        line-height: 3em;
    }
}