@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*PAGE*/

html {
    font-family:  'Inter', sans-serif;
    color: #CCCDC7;
}
a {
    text-decoration: none;
}

/*HEADER*/

.nav-link {
    font-size: 18px;
}

/*BODY*/

body {
    background-color: #050206;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.streaming-links {
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.streaming-logo {
    height: 2em;
    border-radius: 2em;
    transition-duration: 0.3s;
}
    .streaming-logo:hover {
        height: 2.5em;
    }
.music-description-container {
    color: #CCCDC7;
    width: 30em;
    padding-right: 5%;
    padding-left: 5%;
}
.music-description-container {
    color: #CCCDC7;
    width: 30em;
    padding-right: 5%;
    padding-left: 5%;
}
.last-music-drop {
    color: #9A8174;
    font-size: 16px;
}
.about-me-section-container {
    justify-content: space-evenly;
    gap: 2em;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10em;
    padding-top: 10%;
}
.link-design {
    text-decoration: underline;
}
.personal-picture-container {
    padding-left: 5%;
    padding-right: 5%;
}

/*FOOTER*/

footer {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #191919;
    border-radius: .5rem;
}
.menu-columns-container {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    max-width: 100%;
}
.menu-column {
    height: 20%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-title {
    color: #CCCDC7;
    font-size: 20px;
}
.external-link {
    text-decoration: none;
    color: #CCCDC7;
    padding-top: 5%;
}
    .external-link:hover {
        text-decoration: underline;
    }
.copy-container {
    padding-top: 5%;
    padding-bottom: 2%;
    padding-left: 10%;
}
.copy {
    color: #9A8174;
}
.social-media-logos {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 10%;
    padding-top: 2em;
}
.social-logo {
    padding-top: 2%;
    height: 2em;
    color: #CCCDC7;
}
    .social-logo:hover {
        color: #050206;
    }


/*QUERIES*/

@media screen and (max-width: 1440px) {
    
  }
@media screen and (max-width: 992px) {
    .nav-link {
        font-size: 30px;
    }
    .top-logo {
      height: 10em;
    }
    
    .menu-columns-container {
        display: flex;
        flex-direction: column;
    }
    .menu-column {
        height: auto;
        width: 80%;
        margin: auto;
        margin-top: 5%;
    }
    .menu-title {
        color: #CCCDC7;
        font-size: 60px;
    }
    
    .footer-link {
        font-size: 45px;
    }
    .social-media-logos {
        margin: auto;
        margin-top: 5%;
    }
    .social-logo {
        height: 6em;
    }
    .copy-container {
        width: 80%;
        margin: auto;
        padding-left: 0;
    }
    .copy {
        font-size: 40px;
    }
  }

@media screen and (max-width: 600px) {
    
}