@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*BODY*/

body {
    background-color: #050206;
    color: #CCCDC7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.last-article-section {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    padding-top: 10%;
    margin: 0;
    border: 1px red solid;
}
.blog-section {
    background-image: url("../0 - IMAGES/discover.png");
    width: 99%;
    max-width: 99%;
    border: 1px red solid;
}
.left-side-container {
    max-width: 50%;
    height: 75%;
    margin: auto;
    border: 1px red solid;
}
.last-article-container {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 40em;
    height: 35em;
    border-radius: 2.5em;
    transition-duration: 0.35s;
    border: 1px red solid;
}
    .last-article-container:hover {
        background-color: #9a81740f;
    }
.last-article-smaller-box {
    width: 90%;
    height: 90%;
    max-width: fit-content;
    margin: auto;
    border: 1px red solid;
}
.last-article-ad {
    color: #9A8174;
}
.last-article-title {
    padding-bottom: 1em;
    color: #CCCDC7;
}
.last-article-cover {
    height: 70%;
    border-radius: 20px;
}
.types-of-article {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 65%;
    padding-top: 4%;
    padding-right: 10%;
    border: 1px red solid;
}
.article-country {
    height: 6em;
    margin: auto;
    transition-duration: .35s;
    border: 1px red solid;
}
    .article-country:hover {
        height: 8em;
        margin: auto;
    }

.articles-gallery-container {
    padding: 15%;
    padding-top: 0;
    margin: 0;
    margin-top: 0;
    height: 60%;
    width: 70%;
}
.article-gallery-line {
    display: flex;
    flex-direction: column;
}
.best-articles-container {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    padding-bottom: 5%;
    width: 100%;
    max-width: 100%;
}
.link-to-article {
    text-decoration: none;
    padding-top: 5%;
}
.article-box {
    border-radius: 1rem;
    background-color: none;
    color: #CCCDC7;
    width: 20em;
    height: 29em;
    transition-duration: 0.35s;
}
    .article-box:hover {
        background-color: #3B3B3B;
        width: 21em;
        height: 30em;
    }
.article-cover {
    height: 41%;
    padding: 1em;
    border-radius: 25px;
}
.article-title {
    font-weight: 700;
    font-size: 20px;
    padding-left: 1em;
    padding-right: 1em;
}
.article-duration {
    color: #9A8174;
    font-size: 13px;
    font-weight: 300;
}
.article-description {
    font-size: 15px;
    padding: 1.5em;
}