@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
    scroll-behavior: smooth;
}

header {
    height: 100%;
    width: auto;
    height: 100vh;
    background-image: url("../0 - IMAGES/simone-studio.JPG");
    background-size: cover;
    background-position: center;
}
.top-logo-container {
    text-align: center;
}
.top-logo {
    height: 8em;
}
.nav {
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}
.nav-link {
    color: #CCCDC7;
}
.scroll-down-button {
    opacity: 1;
    -webkit-transition: all 1s ease-in 3s;
    transition: all 1s ease-in 3s;
}
.scroll-down-button {
    position: absolute;
    height: 5em;
    width: 3em;
    border: 2px solid #ffffff;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 3%;
    border-radius: 3em;
}
.scroll-down-button:before {
    position: absolute;
    content: "";
    margin: auto;
    left: 0;
    right: 0;
    top: 1.2em;
    height: 1em;
    width: 1em;
    background-color: #ffffff;
    border-radius: 50%;
    animation: move-down 2s infinite;
}
.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 6px;
    height: 6px;
    content: "V";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

    @keyframes move-down {
        80% {
        opacity: 0.5;
        }
        100% {
        transform: translateY(2em);
        opacity: 0;
        }
    }

/*BODY*/

body {
    background-color: #050206;
    margin: 0;
    padding: 0;
}

#section-01 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.best-articles-title {
    text-align: center;
}
.title {
    font-size: 110px;
    color: #CCCDC7;
    padding-top: 3%;
}
.best-articles-container {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    padding-top: 2%;
    padding-bottom: 15%;
    width: 100%;
    max-width: 100%;
}
.link-to-article {
    text-decoration: none;
    margin: 1em;
}
.article-box {
    border-radius: 1rem;
    background-color: #050206;
    color: #CCCDC7;
    width: 20em;
    height: 29em;
    transition-duration: 0.35s;
}
    .article-box:hover {
        background-color: #3B3B3B;
        width: 21em;
        height: 30em;
    }
.article-cover {
    height: 41%;
    padding: 1em;
    border-radius: 25px;
}
.article-title {
    font-weight: 700;
    font-size: 20px;
    padding-left: 1em;
    padding-right: 1em;
}
.article-duration {
    color: #9A8174;
    font-size: 13px;
    font-weight: 300;
}
.article-description {
    font-size: 15px;
    padding: 1.5em;
}
.music-section-container {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10em;
}
.music-cover-container {
    width: 40%;
    display: flex;
}
.music-cover {
    height: 30em;
    margin: auto;
    border-radius: 2rem;
    transition-duration: 0.5s;
}
    .music-cover:hover {
        height: 33em;
    }
.music-description-container {
    width: 40%;
}
.music-call-to-action {
    padding-top: 2em;
    width: auto;
}
.streaming-logo {
    padding-top: 10%;
}

.newsletter-subscribe-container {
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: #191919;
    border-radius: 2em;
}
.newsletter-box {
    padding: 2em;
}
.newsletter-subscriber {
    height: 10%;
    width: 40%;
    margin: 1em;
}
.newsletter-text {
    color: #CCCDC7;
    text-decoration: none;
}

/*QUERIES*/

@media screen and (max-width: 1440px) {
    
}
@media screen and (max-width: 1000px) {
  .nav-link {
    font-size: 40px;
  }
  .top-logo {
    height: 12em;
    margin-bottom: 5%;
  }

  .article-box {
    border-radius: 5em;
    border: 3px solid #3B3B3B;
    margin: auto;
    margin-bottom: 2em;
    padding-top: 1em;
    width: 70%;
    height: auto;
    }

        .article-box:hover {
            background-color: none;
            width: 70%;
            height: auto;
        }

    .article-cover {
        width: 90%;
        border-radius: 4em;
    }
    .article-title {
        font-weight: 700;
        font-size: 50px;
        padding-left: 1em;
        padding-right: 1em;
    }
    .article-duration {
        font-size: 25px;
    }
    .article-description {
        font-size: 30px;
    }

    .music-section-container {
        padding-top: 10em;
    }
    .music-cover-container {
        width: 80%;
        height: auto;
        display: flex;
    }
    .music-cover {
        width: 100%;
        height: auto;
        margin: auto;
        border-radius: 3rem;
        transition-duration: 0.5s;
    }
        .music-cover:hover {
            height: auto;
        }
    .music-description-container {
        width: 60%;
        display: flex;
        flex-direction: column;
        margin-top: 3em;
    }
    .last-music-drop {
        margin: auto;
        font-size: 20px;
    }
    .music-title {
        margin: auto;
        margin-top: .75em;
        margin-bottom: .5em;
        font-size: 80px;
    }
    .music-description {
        text-align: center;
        font-size: 22px;
    }
    .music-call-to-action {
        padding-top: 2em;
        margin: auto;
        width: auto;
    }
    .streaming-links {
        padding-top: 1em;
        margin: auto;
    }
    .streaming-logo {
        height: 5em;
        margin: .5em;
    }
        .streaming-logo:hover {
            height: 5em;
            width: auto;
        }
    
    .music-title {
        padding-top: 1em;
    }
    .newsletter-subscribe-container {
        border-radius: 3em;
        width: 90%;
    }

    .music-title {
        margin: auto;
        width: auto;
    }
    .music-description-container {
        text-align: center;
    }
    .link-design {
        text-decoration: underline;
    }
    .music-text {
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
  
}