@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


/*HEADER*/

header {
    display: flex;
}
.top-logo-container {
    display: flex;
    flex-direction: column;
}
.top-logo {
    height: 8em;
    margin: auto;
    margin-top: 0;
}
.nav {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 0;
    position: fixed;
    width: 100%;
    margin: auto;
    margin-top: 0;
    background-image: linear-gradient(#050206, rgba(255, 255, 255, 0));
    z-index: 1;
}
.nav-link-container {
    height: 8em;
    width: 8em;
    align-items: center;
    display: flex;
}
.nav-link {
    text-decoration: none;
    color: #CCCDC7;
    margin: auto;
}


/*QUERIES*/

@media screen and (max-width: 1440px) {
    
}
@media screen and (max-width: 1000px) {
    .nav-link {
        font-size: 50px;
    }
}

@media screen and (max-width: 600px) {
  
}